@charset "ISO-8859-1";

.modal-body {
 
    /* 80% of window height */
 overflow-x: auto;

    background-color:#FFEFD5;
 
}

#updateDistributionModal label
{
	font-weight: normal;
}

#collectionsModal label
{
font-weight: normal;	
}

